.container1{
    align-items: center;
    background-color: #dee4f0;
    justify-content: space-around;
}
.container1_left img{
width: 500px;
}
.container1_right{
    width: 50%;
}
ul {
	list-style: none;
	padding: 0;
}
li {
	padding: 10px;
	border-bottom: 1px solid #ccc;
}
h2 {
	margin-top: 0;
}
.name {
	font-weight: bold;
}
.email {
	color: #666;
}